name: Build

on:
  push:
    branches:
      - main
      - next
      - next-major
      - '[0-9]+.[0-9]+.x'
      - alpha
      - beta

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14, 16]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn
      - name: Test
        run: yarn test
      - name: Build
        run: yarn build
